


<main class="main-container">
    <h1>Photo Gallery</h1>
    <div class="container bg-transparent">
        <div class="item1 polaroid">
            <img src="https://images.unsplash.com/photo-1650239493689-86f30a056daa?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80" alt="Image" />
            
            <h3>Lion</h3>
            
        </div>
        <div class="item2 polaroid">
            <img src="https://images.unsplash.com/photo-1650290801967-e727096ad1b6?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80" alt="Image" />
            
            <h3>Lion</h3>
            
        </div>
        <div class="item3 polaroid">
            <img src="https://images.unsplash.com/photo-1650248378168-9f29406ad2ef?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=687&q=80" alt="Image" />
            
            <h3>Lion</h3>
            
        </div>
        <div class="item4 polaroid">
            <img src="https://images.unsplash.com/photo-1650290801967-e727096ad1b6?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80" alt="Image" />
            
            <h3>Lion</h3>
            
        </div>
        <div class="item5 polaroid">
            <img src="https://images.unsplash.com/photo-1650290801967-e727096ad1b6?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80" alt="Image" />
            
            <h3>Lion</h3>
            
        </div>
        <div class="item6 polaroid">
            <img src="https://images.unsplash.com/photo-1650290801967-e727096ad1b6?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80" alt="Image" />
            
            <h3>Lion</h3>
            
        </div>
        <div class="item7 polaroid">
            <img src="https://images.unsplash.com/photo-1650290801967-e727096ad1b6?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80" alt="Image" />
            
            <h3>Lion</h3>
            
        </div>
        <div class="item8 polaroid">
            <img src="https://images.unsplash.com/photo-1650290801967-e727096ad1b6?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80" alt="Image" />
            
            <h3>Lion</h3>
            
        </div>
        <div class="item9 polaroid">
            <img src="https://images.unsplash.com/photo-1650214700332-881f7d58ab3c?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=669&q=80" alt="Image" />
            
                <h3>Lion</h3>
            
        </div>
        <div class="item10 polaroid">
            <img src="https://images.unsplash.com/photo-1650290801967-e727096ad1b6?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80" alt="Image" />
            
            <h3>Lion</h3>
            
        </div>
        
    </div>
</main>